.allready-viewed {
    padding-top: 50px;
    padding-bottom: 60px;
}

.allready-viewed__title {
    margin-bottom: 40px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;
}

.allready-viewed__slider-wrapper {
    @extend .list-reset;
    @extend .sales-slider-wrapper;
}
