.catalog__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 80px;
    margin-top: 40px;
    padding-bottom: 60px;
}

.catalog__nav {
    align-self: start;
    overflow: hidden;
    box-shadow: 0 0 25px rgba($color-black, 0.1);
    border-radius: 10px;

    @media (max-width: 1200px) {
        grid-column: span 4;
    }
}

.catalog__menu {
    @extend .list-reset;

    @media (max-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.catalog__menu-item {
    display: flex;
}

.catalog__menu-link {
    position: relative;
    width: 100%;
    padding: 16px 24px 16px 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $color-black;

    @media (max-width: 1200px) {
        padding-right: 50px;
    }

    &:hover {
        background-color: $color-darken-white;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        width: 8px;
        height: 14px;
        transform: translateY(-50%);
        background-image: url(../img/svg/arrow-right-black.svg);
        background-size: 100%;
    }
}

.catalog__title {
    font-weight: 300;
    font-size: 50px;
    line-height: 58px;
    color: $color-black;
    margin-top: 0;
    margin-bottom: 15px;

    @media (max-width: 576px) {
        font-size: 35px;
        line-height: 40px;
    }
}

.catalog__cat-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;
    margin-bottom: 25px;
    margin-top: 0;

    @media (max-width: 576px) {
        font-size: 18px;
        line-height: 20px;
    }
}

.catalog__row {
    grid-column: span 4;

    &:first-of-type {
        grid-column: span 3;

        @media (max-width: 1200px) {
            grid-column: span 4;
        }

        & .catalog__list {
            grid-template-columns: repeat(3, 1fr);

            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 640px) {
                justify-items: center;
                grid-template-columns: 1fr;
            }
        }

        & .catalog__item {
            max-width: 400px;
        }
    }
}

.catalog__list {
    @extend .list-reset;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(350px, auto);
    gap: 30px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}

.catalog__item-cat-name {
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    color: $color-black;
}

.catalog__item-name {
    display: flex;
    margin-top: 0;
    margin-bottom: 27px;
}

.catalog__item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-black;
}

.catalog__item-status {
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: $color-red;
    margin-top: 0;
    margin-bottom: 15px;

    &--not-available {
        margin-top: auto;
        margin-bottom: auto;
    }
}
