.photo-gallery {
    padding-top: 50px;
    padding-bottom: 90px;
}

.photo-gallery__title {
    margin-bottom: 50px;
}

.photo-gallery__slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding: 40px 20px;
}

.photo-gallery__list {
    @extend .list-reset;
}

.photo-gallery__slider-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
        max-width: 300px;
    }
}

.photo-gallery__item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0 20px 0;
}

.photo-gallery__item-img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 0;
}

.photo-gallery__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.photo-gallery__item-link {
    display: flex;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.cta-gallery {
    padding: 25px 25px 62px;
    background-color: $color-red;
    background-image: url(../img/svg/discount-icon.svg);
    background-repeat: no-repeat;
    background-position: right 5% center;
    margin-top: 85px;

    @media (max-width: 1200px) {
        padding-top: 40px;
        padding-bottom: 0;
    }
    @media (max-width: 992px) {
        background-image: none;
    }
    @media (max-width: 576px) {
        padding: 20px 10px 0;
    }

    & .container {
        display: flex;
        align-items: flex-end;
        position: relative;
        padding-left: 205px;

        @media (max-width: 1200px) {
            justify-content: center;
            padding-left: 10px;
        }
    }
}

.cta-gallery__form {
    justify-content: center;
    @media (max-width: 1200px) {
        padding-bottom: 50px;
    }
}

.cta-gallery__header {
    grid-column: span 3;
    margin-bottom: 30px;

    @media (max-width: 1200px) {
        grid-column: span 1;
    }
    @media (max-width: 576px) {
        margin-bottom: 0;
    }
}

.cta-gallery__form-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: $color-white;
    margin-top: 0;
    margin-bottom: 5px;
}

.cta-gallery__form-subtitle {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: $color-white;
    margin: 0;
}

.cta-gallery__worker {
    position: absolute;
    bottom: -62px;
    left: 0;
    width: 201px;
    height: 320px;

    @media (max-width: 1200px) {
        position: static;
        width: auto;
        height: 80%;
    }
    @media (max-width: 576px) {
        display: none;
    }
}

.cta-gallery__label {
    color: $color-white;
}
