.home-sales {
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: $color-dark;
}

.home-sales__title {
    margin-bottom: 57px;
}

.home-sales__slider {
    @extend .list-reset;
}

.sales-slider-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 30px;
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}
.home-sales__slide {
    padding: 40px 30px 15px;
    background-color: $color-darken-white;
    border-radius: 20px;
}
